/**
 * @file
 * Google Plus admin form styling.
 */

.google-plus-tutorial-image {
    border: 1px solid #ccc;
    filter: alpha(opacity=50);
                opacity: .5;
}
.google-plus-tutorial-image:hover {
    filter: alpha(opacity=100);
                 opacity: 1
}