/**
 * @file
 * Google Plus frontend styling.
 */
.google-plus-activity-grid,
.google-plus-activity-grid:before,
.google-plus-activity-grid:after,
.google-plus-activity-grid,
.google-plus-activity-grid *:before,
.google-plus-activity-grid *:after,
.google-plus-profile-box,
.google-plus-profile-box:before,
.google-plus-profile-box:after,
.google-plus-profile-box,
.google-plus-profile-box *:before,
.google-plus-profile-box *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.region-sidebar-first .block-google-plus,
.region-sidebar-second .block-google-plus {
  padding: 0 !important;
  background-color: #fff !important;
  border: none !important;
}
.region-sidebar-first .block-google-plus h2,
.region-sidebar-second .block-google-plus h2 {
  border-bottom-color: transparent;
}

dl.profile-google-plus {
  display: block;
  margin: 0 -10px 1.5em;
}
dl.profile-google-plus:before,
dl.profile-google-plus:after {
  display: table;
  content:  " ";
}
dl.profile-google-plus:after {
  clear: both;
}
dl.profile-google-plus > dt,
dl.profile-google-plus > dd {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
dl.profile-google-plus > dt {
  width: 35%;
  padding: 10px;
}
dl.profile-google-plus > dd {
  width: 65%;
}

/* ACTIVITY */
.google-plus-activity-grid {
  margin: 0 -10px;
}
.google-plus-activity-item {
  position: relative;
  vertical-align: top;
  display: block;
  visibility: visible;
  z-index: auto;
  margin: 10px 10px 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 13px;
  line-height: 1.4;
}
.google-plus-activity-item > .image {
  position: relative;
  margin: -4px -4px 20px;
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  font-size: 10px;
  line-height: 0.5;
  text-align: center;
}
.google-plus-activity-item > .image img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.google-plus-activity-item > .published {
  display: block;
  position: relative;
  margin: 10px 0;
  padding: 0 10px;
  font-size: 11px;
  color: #d8d8d8;
}
.google-plus-activity-item > p {
  position: relative;
  margin: 0;
  padding: 0 10px 10px;
}
.google-plus-button {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 28px;
  min-width: 54px;
  max-width: 100px;
  margin: 12px 10px 0;
  padding: 0 8px;
  overflow: hidden;
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid #d9d9d9;
  border: 1px solid rgba(0,0,0,.15);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
          box-shadow: 0 1px 0 rgba(0,0,0,.05);
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  text-overflow: ellipsis;
  color: #404040;
}
.google-plus-button:hover,
.google-plus-button:focus,
.google-plus-button:active {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
          box-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #fff;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: 1px solid #b8b8b8;
  text-decoration: none;
  color: #404040;
}

/* PROFILE */
.google-plus-profile-box {
  position: relative;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-align: center;
}
.google-plus-profile-cover {
  position: relative;
  overflow: hidden;
  min-height: 75px;
  margin: -10px -10px 0;
}
.google-plus-profile-cover .google-plus-profile-cover-image {
  display: block;
  width: 100%;
  height: auto;
}
.google-plus-profile-cover .profile-cover-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: -moz-linear-gradient(top, transparent 0%, rgba(0,0,0,.67) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,rgba(0,0,0,.67)));
  background-image: -webkit-linear-gradient(top, transparent 0%,rgba(0,0,0,.67) 100%);
  background-image: -ms-linear-gradient(top, transparent 0%,rgba(0,0,0,.67) 100%);
  background-image: -o-linear-gradient(top, transparent 0%,rgba(0,0,0,.67) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#bb000000',GradientType=0 );
  background-image: linear-gradient(top, transparent 0%,rgba(0,0,0,.67) 100%);
  background-repeat: repeat-x;
}
.google-plus-profile-image {
  position: relative;
  max-width: 60%;
  height: auto;
  margin-top: -33.33333334%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
.google-plus-profile-box > h6 {
  font-size: 19px;
  line-height: 23px;
  max-height: 46px;
  padding-top: 11px;
}
.google-plus-profile-box > h6 {
  max-height: 46px;
  margin: 0;
  padding: 11px 0 0;
  overflow: hidden;
  font-size: 19px;
  line-height: 23px;
}
.google-plus-profile-box > p {
  max-height: 28px;
  margin: 0;
  padding: 11px 0 0;
  overflow: hidden;
  font-size: 12px;
  line-height: 14px;
}
.google-plus-follow-button {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 28px;
  min-width: 54px;
  max-width: 100px;
  margin: 12px 10px 0;
  padding: 0 8px;
  overflow: hidden;
  background-color: #dd4b39;
  background-image: -webkit-linear-gradient(top,transparent,transparent);
  background-image: linear-gradient(top,transparent,transparent);
  border: none;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
          box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
          transition: background-color .218s,border-color .218s,box-shadow .218s;
  outline: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  line-height: 28px;
  text-overflow: ellipsis;
  color: #fff;
  -webkit-user-select: none;
  -webkit-appearance: none;
}
.google-plus-follow-button:hover,
.google-plus-follow-button:focus,
.google-plus-follow-button:active {
  border: none;
  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
          box-shadow: inset 0 -2px 0 rgba(0,0,0,.2);
  background-color: #e74b37;
  text-decoration: none;
  color: #fff;
}